@import "normalize.css";

:root {
    --color-main: #000;
    --color-main-text: #000;

    --color-secondary-text: #fff;

    --color-main-hover: #333;

    --color-main-gray: #A6A6A6;

    --color-input-default: #808080;
    --color-input-bg: #F7F7F7;

    --color-textarea-bg: #FAFAFA;
}
