@import "normalize.css";
@import "fonts.css";

:root {
    --color-main: #000;
    --color-main-text: #000;
    --color-main-hover: #333;

    --color-button-main: #000;
    --color-button-text: #fff;
    --color-button-hover: #333;
    --color-button-disabled: #f7f7f7;
    --color-button-text-disabled: #c4c4c4;

    --color-main-gray: #A6A6A6;

    --color-input-default: #808080;
    --color-input-bg: #F7F7F7;

    --color-textarea-bg: #FAFAFA;

    --color-error: #FF002B;
    --color-error-bg: #fff0f2;
}
